pandas
numpy
Flask
flask-cors
PyMuPDF
pdfplumber
langchain-astradb
langchain 
langchain-community
google-generativeai
langchain_google_genai
groq
tiktoken
python-dotenv
cassio
forex-python
requests
pytest
loguru